<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <style>
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/beranda/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/rekomendasi/">Rekomendasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reservasi</a>
              </li>
        
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img.freepik.com/free-vector/appointment-booking-with-smartphone_23-2148554313.jpg?t=st=1709882287~exp=1709885887~hmac=1744add1a50abfd3728d6ed6961d5d582124be2a88e562d1ea9479c127fbef6c&w=1480" class="d-block w-100" alt="..." height="500">
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/free-vector/lovely-hand-drawn-planning-schedule-concept_23-2147954705.jpg?t=st=1709882461~exp=1709886061~hmac=5a3a6428e0fdc296d31d82211c2cc8877cef89c1de03117b147fdbbd697250b9&w=1480" class="d-block w-100" alt="..." height ="500">
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/free-vector/appointment-booking-with-calendar_52683-39831.jpg?t=st=1709882484~exp=1709886084~hmac=6465c23d2c77641342f9f8cedbfdb0a1c79af15fbcf885260bc494cc19a86f63&w=2000" class="d-block w-100" alt="..." height ="500">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row">
        <div class="col-md-8"><h1>formulir reservasi kunjungan</h1>
          <form style="width: 18rem; margin:10px;">
            <div class="mb-3">
              <label for="no-anggota" class="form-label">No anggota</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="kunjungan" class="form-label">Kunjungan</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Kunjungan..</option>
                <option value="1">Reguler</option>
                <option value="2">Khusus</option>
                <option value="3">VIP</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Perpustakaan</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Perpustakaan..</option>
                <option value="1">Perpustakaan Cikini</option>
                <option value="2">Perpustakaan Taman Ismail Marzuki</option>
                <option value="3">Perpustakaan Nasional</option>
              </select>
            </div>
            <div class="mb-3">
            <label for="birthday">Tanggal kunjungan</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-4">
            <h1>status</h1>
            <ul class="list-group">
                <li class="list-group-item"><input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck1">anggota</label></li>
  <li class="list-group-item"><input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">non anggota</label></li>
    <li class="list-group-item"><input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck1">rombongan</label></li>
</ul>
        </div>
      </div>
</body>
</html>